<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property='og:description' content='<%= htmlWebpackPlugin.options.metaDescription %>'/>
    <meta property='og:image' content='<%= htmlWebpackPlugin.options.metaImage %>'/>
    <meta property='og:url' content='<%= htmlWebpackPlugin.options.metaUrl %>'/>
    <meta property='og:title' content='<%= htmlWebpackPlugin.options.title %>'/>
    <meta property="fb:app_id" content='<%= htmlWebpackPlugin.options.fbAppID %>'/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel='shortcut icon' href='<%= htmlWebpackPlugin.options.shortcutIcon %>'/>
  </head>
  <body><div id="fb-root"></div>
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= htmlWebpackPlugin.options.fbAppID %>',
          xfbml      : true,
          version    : 'v2.10'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="sign-in-status"></div>
    <div id="sign-in"></div>
    <div id="account-details"></div>
    <div id='root'></div>
    <!--<div style="text-align:center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6831276331714408"
          data-ad-slot="4438683283"
          data-ad-format="auto">
        </ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div> -->
  </body>
</html>
